@-webkit-keyframes color-change-2x {
  0% {
    background: #dbf3f5; }
  100% {
    background: #f2e7f8; } }

@keyframes color-change-2x {
  0% {
    background: #dbf3f5; }
  100% {
    background: #f2e7f8; } }

@keyframes tracking-in-contract-bck-bottom {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px) translateY(300px);
    transform: translateZ(400px) translateY(300px);
    opacity: 0; }
  40% {
    opacity: 0.6; }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1; } }

@keyframes tracking-in-contract-bck-bottom {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px) translateY(300px);
    transform: translateZ(400px) translateY(300px);
    opacity: 0; }
  40% {
    opacity: 0.6; }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1; } }

@keyframes tracking-in-contract-bck-top {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px) translateY(-300px);
    transform: translateZ(400px) translateY(-300px);
    opacity: 0; }
  40% {
    opacity: 0.6; }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1; } }

@keyframes tracking-in-contract-bck-top {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px) translateY(-300px);
    transform: translateZ(400px) translateY(-300px);
    opacity: 0; }
  40% {
    opacity: 0.6; }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1; } }

@keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1; } }

@keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  height: 100%; }

p {
  inline-size: auto; }

a {
  text-decoration: none; }

ul {
  list-style-type: none; }

.header {
  padding: 20px 20px;
  box-sizing: content-box; }
  .header__content__logo img {
    width: 110px;
    height: 110px;
    margin: auto; }
  .header #navbar {
    overflow: hidden;
    background-color: #fad6d6;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; }
    .header #navbar a {
      display: block;
      color: #5c5b5b; }
      .header #navbar a:hover {
        background: #ddd;
        color: #352d2d; }

.main__texto {
  font-family: 'Kdam Thmor Pro', sans-serif;
  margin: auto;
  margin: 20px;
  text-align: center;
  color: #1b2020; }

.main__texto__nosotros {
  box-sizing: border-box;
  margin: auto;
  font-size: 28px;
  padding: 80px;
  text-align: center;
  color: #1b2020; }

.main__btn__borde {
  margin: auto;
  font-size: 16px;
  font-style: italic;
  padding: .375rem .75rem;
  border: 1px solid #304761;
  border-radius: .25rem;
  color: #304761;
  transition: color .15s ease-in-out, background-color .15s ease-in-out; }

.main {
  margin-top: 120px; }
  .main__texto p {
    font-size: 18px; }
  .main__texto__nosotros p {
    box-sizing: border-box;
    font-size: 20px;
    font-weight: bold;
    margin: auto;
    text-align: center;
    max-width: 350px; }
  .main__circulo__fac {
    box-sizing: border-box;
    margin: auto;
    border-radius: 100%;
    border: 1px black dashed;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.8);
    width: 300px;
    height: 300px; }
  .main__circulo__corp {
    box-sizing: border-box;
    margin: auto;
    border-radius: 100%;
    border: 1px black dashed;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.8);
    width: 300px;
    height: 300px; }
  .main__rect__fac {
    box-sizing: border-box;
    margin: auto;
    border: 1px black dashed;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.8);
    width: 300px;
    height: 300px; }
  .main__trat__faciales {
    margin: auto;
    box-sizing: border-box;
    flex-direction: row;
    flex-wrap: nowrap;
    color: azure; }
  .main__item {
    font-size: 1.5rem;
    line-height: 1;
    text-align: center;
    padding: 3rem;
    background: mistyrose;
    border: 3px solid tomato;
    color: tomato;
    margin: 6px; }
  .main__btn__borde:hover {
    color: #f8cccc;
    background-color: #304761; }
  .main__btn__borde:active {
    color: #f8cccc;
    background-color: #304761; }
  .main__btn__borde:focus {
    color: #f8cccc;
    background-color: #304761; }
  .main__trat__corporales {
    margin: auto;
    box-sizing: border-box;
    flex-direction: row;
    flex-wrap: nowrap;
    color: azure; }
  .main__grid__contacto {
    display: grid;
    margin: auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 20px;
    max-width: 1200px;
    grid-template-areas: "form mapa" "none datos"; }
  .main__grid__contacto__form {
    grid-area: form; }
  .main__grid__contacto__mapa {
    grid-area: mapa; }
  .main__grid__faciales {
    display: grid;
    margin: auto;
    grid-template-rows: repeat(8, 1fr);
    gap: 20px;
    max-width: 1200px; }
  .main__grid__faciales__item {
    text-align: center;
    display: grid;
    align-items: center;
    border: 5px solid saddlebrown;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "imagen texto"; }
  .main__grid__faciales_titulo {
    display: grid;
    text-align: center; }
  .main__grid__faciales__item__ima {
    grid-area: imagen; }
  .main__grid__faciales__item__text {
    grid-area: texto; }
  .main__grid__faciales__boton {
    display: grid;
    text-align: center;
    margin-bottom: 20px; }
  .main__form {
    margin: auto;
    box-sizing: content-box;
    background-color: #fff;
    width: 90%;
    max-width: 400px;
    max-height: 500px;
    border-radius: 1em;
    padding: 3.5em 1.5em; }
  .main__form__titte {
    text-align: justify;
    font-size: 1.6rem;
    margin-bottom: .4em; }
  .main__form__input {
    font-family: inherit;
    font-size: 1rem;
    padding: .8em 1em; }
  .main__form__input--message {
    resize: none;
    padding: 1.8em 1em;
    margin-bottom: .5em; }
  .main__form__cta {
    font-family: inherit;
    font-size: 1rem;
    background-color: #089fe0;
    color: #fff;
    border: none;
    font-weight: 400;
    padding: .7em 0;
    border-radius: .2em;
    cursor: pointer; }
  .main__mapa {
    margin: auto;
    border: 2px darkslategray; }
    .main__mapa iframe {
      width: 500px;
      height: 460px; }

.main__index {
  margin-top: 60px; }

.container {
  width: 100%;
  display: grid;
  gap: .5em;
  grid-auto-columns: 100%; }

#col-texto {
  margin: auto; }

#index__img {
  width: 380px;
  height: 676px; }

#index__img1 {
  margin-top: 50px;
  width: 380px;
  height: 676px; }

#texto__index {
  font-family: 'Alex Brush', cursive;
  color: #1ca3f1;
  font-size: 40px;
  font-weight: bold; }
  #texto__index__h5 {
    font-family: 'Alex Brush', cursive;
    color: #1ca3f1;
    font-size: 28px;
    font-weight: bold; }

#puff-in-center {
  -webkit-animation: puff-in-center 1.7s cubic-bezier(0.47, 0, 0.745, 0.715) both;
  animation: puff-in-center 1.7s cubic-bezier(0.47, 0, 0.745, 0.715) both; }

#tracking-in-contract-bck-top {
  -webkit-animation: tracking-in-contract-bck-top 1.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-contract-bck-top 1.7s cubic-bezier(0.215, 0.61, 0.355, 1) both; }

#tracking-in-contract-bck-bottom {
  -webkit-animation: tracking-in-contract-bck-bottom 1.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-contract-bck-bottom 1.7s cubic-bezier(0.215, 0.61, 0.355, 1) both; }

.color-change-2x {
  -webkit-animation: color-change-2x 2s linear infinite alternate both;
  animation: color-change-2x 2s linear infinite alternate both; }

footer {
  font-family: 'Kdam Thmor Pro', sans-serif;
  max-width: 1200px;
  display: flex;
  margin: auto;
  justify-content: center; }
  footer .float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100; }
    footer .float:hover {
      text-decoration: none;
      color: #25d366;
      background-color: #fff; }
  footer .my-float {
    margin-top: 16px; }

.footer {
  max-width: 100%;
  margin-bottom: 20px;
  background-color: #3f2e2e; }
  .footer__h2 {
    color: #f2e7f8;
    margin-top: 20px;
    text-align: center; }
  .footer__trat__h4 {
    margin-top: 20px;
    color: #f2e7f8;
    text-align: center; }
  .footer__h4 {
    margin-top: 20px;
    color: #0d0d0e;
    text-align: center; }
  .footer__icon {
    position: relative;
    margin: 20px;
    border-radius: 50%;
    transition: all .8s;
    cursor: pointer; }

.footer__nos {
  max-width: 100%;
  margin-bottom: 20px; }

.footer__cont {
  max-width: 100%;
  margin-bottom: 20px; }
  .footer__cont #iconos {
    display: grid;
    justify-items: center; }

.footer__span {
  display: flex;
  margin: auto;
  max-width: 1200px;
  justify-content: center; }

.footer__span a {
  color: #202b24;
  text-decoration: none; }

#slider {
  background-color: #3f2e2e;
  margin-bottom: 20px;
  max-height: 75px; }
  #slider ul li img {
    height: 36px; }

@media (max-width: 960px) {
  .main {
    margin-top: 50px; }
  .main__index {
    margin-top: 40px; }
  .header__content__logo img {
    width: 60px;
    height: 60px; }
  .main__index__img {
    padding-left: 0%; }
    .main__index__img img {
      width: 320px;
      height: 550px; }
  .main__texto__index__p {
    display: flex;
    flex-wrap: wrap;
    font-size: 40px; }
  .main__texto__index__span {
    display: flex;
    flex-wrap: wrap;
    font-size: 24px;
    font-weight: bold; }
  .main__grid__contacto__mapa {
    justify-content: center;
    margin: auto; }
  .main__grid__contacto {
    grid-template-columns: 1fr;
    grid-template-areas: "form"  "mapa"  "datos"; } }

@media (max-width: 720px) {
  .main__texto h1 {
    font-size: 20px; }
  .main__texto p {
    font-size: 16px; }
  .main__h2__trat__faciales {
    font-size: 20px; }
  .main__p__trat__faciales {
    font-size: 16px; }
  .main__btn__borde {
    font-size: 14px; }
  .main__form {
    margin-left: 10px;
    padding: 0%; }
  .main__circulo__fac {
    width: 200px;
    height: 200px; }
  .main__circulo__corp {
    width: 200px;
    height: 200px; }
  .main__rect__fac {
    width: 200px;
    height: 200px; }
  .main__grid__faciales__item {
    grid-template-columns: 1fr;
    grid-template-areas: "imagen"  "texto"; }
  .main__grid__faciales_titulo {
    display: flex;
    flex-direction: column;
    text-align: center; }
  footer {
    max-width: 90%;
    padding: auto; }
  .main__form__tittle {
    font-size: 22px; }
  .main__form__input {
    font-size: 16px; }
  .main_form__cta {
    font-size: 14px; }
  .main__texto__nosotros p {
    font-size: 16px; }
  .main__grid__contacto__mapa {
    width: 480px;
    margin-left: 0; }
  .main__mapa iframe {
    width: 400px;
    height: 350px;
    margin-left: 10px; }
  #item-nav {
    font-size: 18px; }
  .index__main__container {
    display: flex; }
  .main__texto__index__p {
    display: grid;
    font-size: 18px;
    align-content: center; }
  .main__texto__index__span {
    display: grid;
    font-size: 14px;
    align-content: center; } }

@media (max-width: 480px) {
  .main {
    margin-top: 50px; }
  .main__index {
    margin-top: 40px; }
  .main__texto {
    font-size: 26px;
    justify-content: center; }
  .main__grid__contacto__mapa {
    max-width: 400px;
    margin-left: 0; }
  .main__mapa iframe {
    width: 350px;
    height: 300px;
    margin-left: 10px; }
  .main__form {
    width: 350px; }
  #index__img {
    margin: auto;
    width: 250px;
    height: 445px; }
  #index__img1 {
    margin: auto;
    width: 250px;
    height: 445px; }
  #texto__index {
    text-align: center;
    font-size: 28px; }
    #texto__index__h5 {
      text-align: center;
      font-size: 18px; }
  .header__content__logo img {
    width: 60px;
    height: 60px; }
  #button__sld {
    display: none; }
  #bars {
    width: 20px;
    height: 20px; } }
