@import 'mixins';
%heading{
	font-family: 'Kdam Thmor Pro', sans-serif;
	margin: auto;
	margin: 20px;
	text-align: center;
	color: $color-texto;
}
%nosotros{
	box-sizing: border-box;
	margin: auto;
	font-size: 28px;
	padding: 80px;
	text-align: center;
	color: $color-texto;
}
%btn{
	margin: auto;
	font-size: 16px;
	font-style: italic;
	padding: .375rem .75rem;
	border: 1px solid $color-boton;
	border-radius: .25rem;
	color: $color-boton;
	transition: color .15s ease-in-out, background-color .15s ease-in-out;
}
.main {
	margin-top: 200px;
    &__texto{
        @extend %heading;
	    p {
		   font-size: 18px;
	    }
    }
    &__texto__nosotros{
        @extend %nosotros;
	    p {
		    box-sizing: border-box;
		    font-size: 20px;
		    font-weight: bold;
		    margin: auto;
		    text-align: center;
		    max-width: 350px;
	    }
    }
    &__circulo__fac{
        @include circle();
    }
    &__circulo__corp{
        @include circle();
    }
    &__rect__fac{
        @include rect();
    }
    &__trat__faciales{
        margin: auto;
	    box-sizing: border-box;
	    flex-direction: row;
	    flex-wrap: nowrap;
	    color: azure;
    }
    &__item{
        font-size: 1.5rem;
	    line-height: 1;
	    text-align: center;
	    padding: 3rem;
	    background: mistyrose;
	    border: 3px solid $color-item;
	    color: $color-item;
	    margin: 6px;
    }
    &__btn__borde{
        @extend %btn;
	    &:hover {
		    color: rgb(248, 204, 204);
		    background-color: $color-boton;
	    }
        &:active {
		color: rgb(248, 204, 204);
		background-color: $color-boton;
	    }
	    &:focus {
		color: rgb(248, 204, 204);
		background-color: $color-boton;
	    }
    }
    &__trat__corporales{
        margin: auto;
	    box-sizing: border-box;
	    flex-direction: row;
	    flex-wrap: nowrap;
	    color: azure;
    }
    &__grid__contacto{
        display: grid;
	    margin: auto;
	    grid-template-columns: repeat(2,1fr);
	    grid-template-rows: 1fr;
	    gap: 20px;
	    max-width: 1200px;
	    grid-template-areas: "form mapa" "none datos";
    }
    &__grid__contacto__datos{
        grid-area: datos;
	    font-weight: bold;
    }
    &__grid__contacto__form{
        grid-area: form;
    }
    &__grid__contacto__mapa{
        grid-area: mapa;        
    }
    &__grid__faciales{
        display: grid;
	    margin: auto;
	    grid-template-rows: repeat(8,1fr);
	    gap: 20px;
	    max-width: 1200px;
    }
    &__grid__faciales__item{
        text-align: center;
	    display: grid;
	    align-items: center;
	    border: 5px solid saddlebrown;
	    grid-template-columns: repeat(2, 1fr);
	    grid-template-areas: "imagen texto";
    }
    &__grid__faciales_titulo{
        display: grid;
	    text-align: center;
    }
    &__grid__faciales__item__ima {
        grid-area: imagen;
    }
    &__grid__faciales__item__text{
        grid-area: texto;
    }
    &__grid__faciales__boton{
        display: grid;
	    text-align: center;
	    margin-bottom: 20px;
    }
    &__form{
        margin: auto;
	    box-sizing: content-box;
	    background-color: #fff;
	    width: 90%;
	    max-width: 400px;
	    max-height: 500px;
	    border-radius: 1em;
	    padding: 3.5em 1.5em;
    }
	&__form__titte{
        text-align: justify;
	    font-size: 1.6rem;
	    margin-bottom: .4em;
    }
    
    
    &__form__input{
        font-family: inherit;
	    font-size: 1rem;
	    padding: .8em 1em;
    }
    &__form__input--message{
        resize: none;
	    padding: 1.8em 1em;
	    margin-bottom: .5em;
    }
    &__form__cta{
        font-family: inherit;
	    font-size: 1rem;
	    background-color: #089fe0;
	    color: #fff;
	    border: none;
	    font-weight: 400;
	    padding: .7em 0;
	    border-radius: .2em;
	    cursor: pointer;
    }
    &__mapa{
        margin: auto;
	    border: 2px darkslategray;
		iframe{
			width: 500px;
			height: 460px;
		}
    }

    &__datos{
        margin: auto;
	    text-align: center;
	    color: #0a0a0a;
	    list-style: none;
	    line-height: 1cm;
    }
    &__alineado{
        vertical-align: middle;
    }
}
.main__index{
	margin-top: 220px;
}
.container{
    width: 100%;
	display: grid;
	gap: .5em;
	grid-auto-columns: 100%;
}
#col-texto {
	margin: auto;
}
#index__img{
	@include image();
}
#index__img1{
	margin-top: 50px;
	@include image();
}
#texto__index{
	font-family: 'Alex Brush', cursive;
	color: $color-index;
	font-size: 40px;
	font-weight: bold;
	&__h5{
	font-family: 'Alex Brush', cursive;
	color: $color-index;
	font-size: 28px;
	font-weight: bold;
	}
}

#puff-in-center {
	-webkit-animation: puff-in-center 1.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
	animation: puff-in-center 1.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}
#tracking-in-contract-bck-top {
	-webkit-animation: tracking-in-contract-bck-top 1.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	animation: tracking-in-contract-bck-top 1.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
#tracking-in-contract-bck-bottom {
	-webkit-animation: tracking-in-contract-bck-bottom 1.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	animation: tracking-in-contract-bck-bottom 1.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
.color-change-2x {
	-webkit-animation: color-change-2x 2s linear infinite alternate both;
	animation: color-change-2x 2s linear infinite alternate both;
}

