@media (max-width:900px) {
	.index__img {
		padding-left: 0%;
	}
	.texto__index__p {
		display: flex;
		flex-wrap: wrap;
		font-size: 40px;
	}
	.texto__index__span {
		display: flex;
		flex-wrap: wrap;
		font-size: 24px;
		font-weight: bold;
	}
	.grid__contacto__mapa {
		margin: auto;
		justify-content: center;
	}
}
@media (max-width:450px) {
	.texto {
		h1 {
			font-size: 20px;
		}
		p {
			font-size: 16px;
		}
	}
	.h2__trat__faciales {
		font-size: 20px;
	}
	.p__trat__faciales {
		font-size: 16px;
	}
	.btn__borde {
		font-size: 14px;
	}
	.form {
		padding: 3.5em 1em;
		width: 70%;
		max-width: 350px;
		max-height: 400px;
		margin-left: 10px;
		padding: 0%;
	}
	.circulo__fac {
		width: 200px;
		height: 200px;
	}
	.content__logo {
		img {
			width: 80px;
			height: 80px;
		}
	}
	.circulo__corp {
		width: 200px;
		height: 200px;
	}
	.rect__fac {
		width: 200px;
		height: 200px;
	}
	.grid__faciales__item {
		grid-template-columns: 1fr;
		grid-template-areas: "imagen" "texto";
	}
	.grid__faciales_titulo {
		display: flex;
		flex-direction: column;
		text-align: center;
	}
	footer {
		max-width: 90%;
		padding: auto;
	}
	.form__tittle {
		font-size: 18px;
	}
	.form__input {
		font-size: 16px;
	}
	.form__cta {
		font-size: 18px;
	}
	.texto__nosotros {
		p {
			font-size: 16px;
		}
	}
	.grid__contacto__mapa {
		max-width: 350px;
		width: 70%;
		margin-left: 10px;
	}
	.index__img {
		img {
			width: 220px;
			height: 392px;
		}
	}
	#item-nav {
		font-size: 18px;
	}
	.index__main__container {
		display: flex;
	}
	.texto__index__p {
		display: grid;
		font-size: 18px;
		align-content: center;
	}
	.texto__index__span {
		display: grid;
		font-size: 14px;
		align-content: center;
	}
}
@media (max-width:375px) {
	.texto {
		font-size: 26px;
		justify-content: center;
	}
}
@media (max-width: 800px) {
	.grid__contacto {
		grid-template-columns: 1fr;
		grid-template-areas: "form" "mapa" "datos";
	}
	@media 
		(min-width: 
			800px) {
				.index__img img{ width: 320px;
				height: 550px;
			}
		
	}
}
